@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@using Newtonsoft.Json
@inherits LayoutComponentBase

@inject ProtectedLocalStorage BrowserStorage
@inject NavigationManager Navigator

<PageTitle>Daft</PageTitle>

<div class="page" style="background-color:rgb(245,245, 245)">
	<main>
		<div class="top-row px-8 bg-white">
			<div class="container">
				<div class="d-flex align-items-start">
					<a href="" @onclick="@(() => Navigator.NavigateTo("/", true))"><img src="Photos/logo.svg" class="link" alt="Daft.ie" style="width:5rem " /></a>

					<a href="" @onclick="@(() => Navigator.NavigateTo("/Sell", true))" class="text-black text-decoration-none">Sell</a>
					<a href="" @onclick="@(() => Navigator.NavigateTo("/Rent", true))" class="text-black text-decoration-none">Rent</a>
					<a href="" @onclick="@(() => Navigator.NavigateTo("/Share", true))" class="text-black text-decoration-none left">Share</a>
				</div>
			</div>

			@if (true)
			{
				var href = "";
				if (_user is null)
				{
					<a href="/login" class="text-black text-decoration-none">Sign in</a>
					href = "/user";
				}
				else
				{
					<a href @onclick="LogOut" class="text-black text-decoration-none">Log out</a>
					href = "/upload";
				}
				<a href="@href" class="text-black text-decoration-none">Place Ad</a>
			}
		</div>

		<article class="content px-12">
			@Body
		</article>
	</main>
</div>

@code {

	Core.Models.User? _user;

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		var strUser = (await BrowserStorage.GetAsync<string>(nameof(Core.Models.Client).ToLower())).Value;
		if (strUser is null) return;
		var user = JsonConvert.DeserializeObject<Core.Models.Client>(strUser);

		if (_user is null && user is not null)
		{
			_user = user;
			StateHasChanged();
		}
		await base.OnAfterRenderAsync(firstRender);
	}

	async Task LogOut()
	{
		await BrowserStorage.DeleteAsync(nameof(Core.Models.Client).ToLower());
		_user = null;
		StateHasChanged();
	}
}