@page "/upload"

@using Core.Models
@using UI.Pages
@using System.Text.Json
@using System.Text.Json.Serialization

@inherits ComponentAPI
@inject NavigationManager Navigator

<h3>Upload</h3>
<PageTitle>Upload</PageTitle>

<EditForm Model="Property" OnSubmit="DoUpload">
	<DataAnnotationsValidator />
	<div class="container-fluid bg-white">
		<div class="d-grid gap-2 col-5 mx-auto bg-bg-dark">
			<div class="mb-3">
				<label class="form-label">Address</label>
				<InputText type="text" @bind-Value="Property.Address" class="form-control"></InputText>
				<ValidationMessage For="@(() => Property.Address)" />
			</div>
			<div class="mb-3">
				<div class="row align-items-start">
					<div class="col">
						<label class="form-label">Avaiable From:</label>
						<InputDate @bind-Value="Property.AvaiableFrom" class="form-control col-3"></InputDate>
						<ValidationMessage For="@(() => Property.AvaiableFrom)" />
					</div>
					<div class="col">
						<label class="form-label">Until:</label>
						<InputDate @bind-Value="Property.AvaiableUntil" class="form-control col-3"></InputDate>
						<ValidationMessage For="@(() => Property.AvaiableUntil)" />
					</div>
				</div>
			</div>
			<div class="mb-3">
				<div class="row">
					<div class="col">
						<label class="form-label">Type</label>
						<InputSelect type="text" @bind-Value="Property.Type" TValue="PropertyType" class="form-control">
							@foreach (var type in Enum.GetValues<PropertyType>())
							{
								<option>@type</option>
							}
						</InputSelect>
					</div>
					<div class="col">
						<label class="form-label">Purpose</label>
						<InputSelect type="text" @bind-Value="Property.OfferPurpose" class="form-control">
							@foreach (var type in Enum.GetValues<OfferPurpose>())
							{
								<option>@type</option>
							}
						</InputSelect>
					</div>
				</div>
			</div>
			<div class="mb-3">
				<div class="row align-items-bottom">
					<div class="col-md-4">
						<label class="form-label">Price</label>
						<InputNumber type="text" @bind-Value="Property.Price" class="form-control"></InputNumber>
						<ValidationMessage For="@(() => Property.Price)" />
					</div>
					<div class="col-md-4">
						<label class="form-label small">Avaiable bedrooms</label>
						<InputNumber type="text" @bind-Value="Property.BedroomsAvaiable" class="form-control"></InputNumber>
						<ValidationMessage For="@(() => Property.BedroomsAvaiable)" />
					</div>
					<div class="col">
						<br />
						<div class="form-check form-switch align-items-md-center">
							<label class="form-check-label align-text-end small">Owner Occupied</label>
							<InputCheckbox @bind-Value="Property.OwnerOccupied" class="form-check-input"></InputCheckbox>
							<ValidationMessage For="@(() => Property.OwnerOccupied)" />
						</div>
					</div>
				</div>
			</div>
			<div class="mb-3">
				<label class="form-label">Facilities</label>
				@foreach (var facility in Property.Facilities)
				{
					<InputText typeof="text" @bind-Value="facility.Text" class="form-control"></InputText>
					<ValidationMessage For="@(() => facility)" />
				}
			</div>
			<div class="mb-3">
				<label class="form-label">Photos</label>
				<div class="row">
					<div class="col m-1 ">
						<InputFile @onclick="() => Property.Photos.ToList().ForEach(Property.Remove)" OnChange="e => LoadFiles(e)" multiple class="form-control"></InputFile>
						<ValidationMessage For="@(() => Property.Photos)" />
					</div>
				</div>
				<div class="row m-1">
					@foreach (var photo in Property.Photos)
					{
						<button type="button" @onclick="() => Property.Remove(photo)" class="btn-close" style="width:150px;height:150px" aria-label="Close">
							<img src="data:@(photo.Format);base64, @((string)photo)" style="width:150px;height:150px" class="rounded float-start" alt="photo">
						</button>
					}
				</div>
			</div>
			<div class="container-fluid bg-white">
				<div class="d-grid">
					<button type="submit" class="btn btn-primary btn-lg">Submit</button>
				</div>
			</div>
		</div>
	</div>
</EditForm>


@code {

	Property Property { get; } = new("", OfferPurpose.Rent, PropertyType.Appartment, 0);

	async ValueTask LoadFiles(InputFileChangeEventArgs e)
	{
		var files = e.GetMultipleFiles();
		foreach (var file in files)
		{
			using var ms = new MemoryStream();
			using var stream = file.OpenReadStream(maxAllowedSize: file.Size);

			await stream.CopyToAsync(ms);
			var photo = new Photo(ms.ToArray(), file.ContentType);
			Property.Add(photo);
		}
	}

	async Task DoUpload(EditContext editContext)
	{
		if (!editContext.Validate()) return;

		while (Property.Facilities.FirstOrDefault() is Facility f && (string.IsNullOrEmpty(f.Text) || string.IsNullOrWhiteSpace(f.Text)))
		{
			Property.Remove(f);
		}

		using var api = this.Endpoint("Properties");
		var opts = new JsonSerializerOptions { ReferenceHandler = ReferenceHandler.Preserve };

		var response = await api.PostAsJsonAsync("", Property, opts);

		this.Navigator.NavigateTo("/");
	}

	protected override async Task OnInitializedAsync()
	{
		var getUserTask = GetCurrentUser();
		await base.OnInitializedAsync();

		Property.Add(new Facility());
		Property.Owner = await getUserTask;
		Property.OwnerId = Property.Owner.Id;
		Property.AvaiableFrom = DateTime.Now;
		Property.Price = Random.Shared.Next(60, 2109);
		Property.PhotosChanged += (s, e) => this.InvokeAsync(StateHasChanged);
	}
}
